{% extends 'base.html' %}

{% block content %}

<h2>Purchases</h2>

<table>
    <tr>
        <th>ID</th>
        <th>Supplier</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    {% for purchase in purchases %}
    <tr>
        <td>{{ purchase.id }}</td>
        <td>{{ purchase.supplier }}</td>
        <td>{{ purchase.date }}</td>
        <td>
    <a href="/purchase/item/{{ purchase.id }}/">View</a>
    <a href="/purchase/delete/{{ purchase.id }}/">Delete</a>
</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}